header {
 position: relative;
 height: 100px;
 background-color:  #f0f0f0;
}

.heading {
 display: flex;
}

main {
 margin-top: 100px;
 margin-bottom: 100px;
}

.title {
 font-size: 30px;
 padding: 35px 30px 20px 400px;
}

.hamb-menu {
 margin-left: auto;
 margin-right: 30px;
}

.hamb-menu #open {
 font-size: 40px;
 cursor: pointer;
}

.hamb-menu #close {
 font-size: 40px;
 cursor: pointer;

}

.main-image {
 width: 100%;
 height: 600px;
}

footer {
 width: 100%;
 height: 100px;
 background-color:  #f0f0f0;
 position: relative;
}

.footer-text {
 position: absolute;
 top: 0;
 right: 0;
 bottom: 0;
 left: 0;
 margin: auto;
 width: 85%;
 height: 40px;
}

/* ↓アコーディオンメニュー記述 */

.accordion {
 width: 15%;
}

.menu {
 background-color:  #563f00;
 color: white;
 font-size: 18px;
 padding: 10px;
 cursor: pointer;
 user-select: none;
}

.contents {
 text-align: center;
 line-height: 0;
 height: 0;
 overflow: hidden;
 opacity: 0;
 transition-duration: 0.4s;
}

.contents.is-open {
 border: 1px solid black;
 padding: 10px;
 line-height: normal;
 height: auto;
 opacity: 1;
}
